<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Lächerbar Translator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="open(howTo)">How to</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="openChangelog()">Changelog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="open(impressum)">Impressum</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="open(loginModal)" *ngIf="loginStatus != 2; else alreadyLoggedIn">Login</button>
      <ng-template #alreadyLoggedIn>
        <button class="btn btn-outline-success my-2 my-sm-0">My Account</button>
      </ng-template>
    </form>
  </div>
</nav>
<div class="container main">
  <hr />
  <div class="row">
    <div class="col-12" [ngClass]="{'col-md-3': !extended, 'col-md-6': extended}">
      <label>Text</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <input type="text" class="form-control" [(ngModel)]="text">
        <div class="input-group-addon primary" (click)="open(extendedInput)">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2">
      <label>Unnecessary steps</label>
      <input type="number" class="form-control" [(ngModel)]="languageCount" max="15">
    </div>
    <div *ngIf="!extended" class="col-3">
      <label>Language</label>
      <select [(ngModel)]="sourceLanguage" class="form-control">
        <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
      </select>
    </div>
    <div class="col-6 col-md-2">
      <button *ngIf="!extended" type="button" class="btn btn-primary send" (click)="toggleExtended()">
        <i  class="fa fa-plus" aria-hidden="true"></i>
        Extend
      </button>
      <button *ngIf="extended" type="button" class="btn btn-primary send" (click)="toggleExtended()">
        <i class="fa fa-minus" aria-hidden="true"></i>
        Collapse
      </button>
    </div>
    <div class="col-6 col-md-2">
      <button type="button" class="btn btn-primary send" (click)="translate()" [disabled]="status.loading">
        <i *ngIf="status.loading" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
        Translate
      </button>
    </div>
  </div>
  <div class="row" *ngIf="extended">
    <div class="col-4">
      <label>Source language</label>
      <select [(ngModel)]="sourceLanguage" class="form-control">
        <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
      </select>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-primary send" (click)="changeLanguages()" >
        <i class="fa fa-exchange" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-4">
      <label>Destination language</label>
      <select [(ngModel)]="destinationLanguage" class="form-control">
        <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
      </select>
    </div>
    <div class="col-6 col-md-2">
      <button type="button" class="btn btn-primary send" (click)="randomize()">
        <i class="fa fa-random" aria-hidden="true"></i>
        Randomize
      </button>
    </div>
  </div>
  <hr />
  <div class="row loading">
    <div class="col-12">
      <ngb-progressbar value="{{status.finishedSteps * 100 / status.steps}}" *ngIf="status.loading">
        {{ status.finishedSteps }} step finished
      </ngb-progressbar>
    </div>
  </div>
  <div class="row">
    <ul class="nav nav-tabs col-12" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">My Translations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#dashboard" role="tab">Global Translations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
      </li>
    </ul>
  </div>
  <br />
  <div class="row">
    <div class="tab-content container">
      <div class="tab-pane active row" id="home" role="tabpanel">
        <div class="col-12 col-md-4 translation">
          <div class="card">
            <div class="card-block">
              <div [innerHTML]="ownAdBanner"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 translation" *ngFor="let translation of history">
          <div class="card">
            <div class="card-header my-translation">
              <h4 [innerHTML]="printTranslationSummary(translation.chain[0])"></h4>
              <button class="btn btn-outline-secondary btn-sm" (click)="shareTranslation(translation, share)">
                <i class="fa fa-external-link" aria-hidden="true"></i>
              </button>
              <button class="btn btn-sm btn-secondary" data-toggle="tooltip" data-html="true" data-placement="bottom"
                      title="{{printTranslationChain(translation.chain[0])}}" placement="top"
                      ngbTooltip="In a short time you will be able to see the full way of your text.">
                {{translation.chain[0].length - 1}} steps
              </button>
              <br />
              <ngb-rating (rateChange)="updateRating()" [(rate)]="translation.rating" [starTemplate]="t" max="5"></ngb-rating>
            </div>
            <div class="card-block">
              <p class="card-text">
                <b>Text: </b>{{translation.text}}<br />
                <b>Translation: </b>{{translation.translation}}<br />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane row" id="dashboard" role="tabpanel">
        <div class="col-12 col-md-4 translation">
          <div class="card">
            <div class="card-block">
              <div [innerHTML]="dashboardAdBanner"></div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 translation" *ngFor="let translation of dashboard">
          <div class="card">
            <div class="card-header" [ngClass]="{'my-translation': translation.uid == userId}">
              <h4 [innerHTML]="printTranslationSummary(translation.chain[0])"></h4>
              <button class="btn btn-sm btn-secondary" disabled>
                {{translation.chain[0].length - 1}} steps
              </button>
            </div>
            <div class="card-block">
              <p class="card-text">
                <b>Text: </b>{{translation.text}}<br />
                <b>Translation: </b>{{translation.translation}}<br />
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane container" id="settings" role="tabpanel">
        <div class="container">
          <div class="col-12">
            <h2>Settings</h2>
          </div>
          <div class="col-12">

            <fieldset class="form-group row">
              <legend class="col-form-legend col-12">Rating emoji</legend>
              <div class="row">
                <div class="form-check col-1" *ngFor="let emoji of availableEmojis; let i = index">
                  <label class="form-check-label" style="font-size: 30px">
                    <input class="form-check-input" type="radio" name="emoji" id="emoji{{i}}" value="{{i}}"
                      [checked]="i == selectedEmoji" (click)="onChangeEmoji(i)">
                    {{emoji}}
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #news let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      What's new
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </h4>
  </div>
  <div class="modal-body">
    <div *ngFor="let change of changelog">
      <div *ngIf="change.date > lastVisit">
        <small><i>{{change.date | date:'fullDate'}}</i></small>
        <h3>{{change.title}}</h3>
        <p>{{change.description}}</p>
        <hr/>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #shared let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h3 class="modal-title">
      Lächerbar translation
    </h3>
    <small>from {{sharedTranslation.sourceLanguage}} to {{sharedTranslation.destinationLanguage}}</small>
    <small *ngIf="sharedTranslation.chain">{{sharedTranslation.chain[0].length - 1}} steps</small>
  </div>
  <div class="modal-body">
    <h5>Original</h5>
    <p>{{sharedTranslation.text}}</p>
    <hr />
    <h5>Translation</h5>
    <p>{{sharedTranslation.translation}}</p>
    <br />
    <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=3&p=288&l=ur1&category=channels&banner=1PW6PWE67VPZV3ZW1RR2&f=ifr&linkID=fa1dfa274197924bf1a738d903491640&t=laecherbartra-21&tracking_id=laecherbartra-21" width="320" height="50" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
  </div>
</ng-template>

<ng-template #t let-fill="fill">
  <span *ngIf="fill === 100" style="font-size: 40px">{{availableEmojis[selectedEmoji]}}</span>
  <span *ngIf="fill === 0" style="font-size: 40px; opacity: 0.4; filter: grayscale(0.8)">{{availableEmojis[selectedEmoji]}}</span>
</ng-template>

<ng-template #loginModal let-c="close" let-d="dismiss">
  <div class="modal-dialog" *ngIf="loginModalMode == 0; else registerTemplate">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <ngb-alert [dismissible]="true" *ngIf="loginStatus == 1" type="danger">
        Something went wrong. Please check your credentials or try again later.
      </ngb-alert>
      <ngb-alert [dismissible]="true" *ngIf="loginStatus == 2" type="info">
        You are successfully logged into your account. Have fun with our tool.
      </ngb-alert>
      <form>
        <input type="text" name="user" placeholder="Username" [(ngModel)]="usernameFieldLogin">
        <input type="password" name="pass" placeholder="Password" [(ngModel)]="passwordFieldLogin">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login" (click)="login()">
      </form>

      <div class="login-help">
        <a href="#" (click)="loginModalMode = 1">Register</a> - <a href="#" (click)="loginModalMode = 2">Forgot Password</a>
      </div>
    </div>
  </div>
</ng-template>


<ng-template #registerTemplate let-c="close" let-d="dismiss">
  <div class="modal-dialog">
    <div class="loginmodal-container" *ngIf="loginModalMode == 1; else forgotPasswordTemplate">
      <h1>Login to Your Account</h1><br>
      <ngb-alert [dismissible]="true" *ngIf="registerStatus == 1" type="danger">
        Something went wrong. Your new account could not be created. Please check your data and try again later.
      </ngb-alert>
      <ngb-alert [dismissible]="true" *ngIf="registerStatus == 2" type="info">
        You've successfully created an account. Log into it now and start suporting a magic unicorn.
      </ngb-alert>
      <form>
        <input type="text" name="user" placeholder="Username" [(ngModel)]="usernameFieldRegister">
        <input type="password" name="pass" placeholder="Password" [(ngModel)]="passwordFieldRegister">
        <input type="email" name="email" placeholder="Email address" [(ngModel)]="emailFieldRegister">
        <input type="submit" name="login" class="login loginmodal-submit" value="Register" (click)="register()">
      </form>

      <div class="login-help">
        <a href="#" (click)="loginModalMode = 0">Login</a> - <a href="#" (click)="loginModalMode = 2">Forgot
        Password</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #forgotPasswordTemplate let-c="close" let-d="dismiss">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>
        You really lost your password? Didn't you just set up your account? Come on! Please use the chat to solfe this.
      </h2>
      <div class="login-help">
        <a href="#" (click)="loginModalMode = 0">Login</a> - <a href="#" (click)="loginModalMode = 1">Register</a>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #extendedInput let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Need more space?
    </h4>
  </div>
  <div class="modal-body">
    <label>Text to be translated</label>
    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
      <textarea class="form-control" id="exampleTextarea" rows="10" [(ngModel)]="text"></textarea>
    </div>
    <br />
    <p>Texts with multiple sentences or lines will be split. You can choose if every part of your text should go
      the same way or if a random way for all parts should be found.</p>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary" (click)="onTranslationWayChange('same')">
        <input type="radio" name="translationWay" id="same" autocomplete="off" disabled> Same languages
      </label>
      <label class="btn btn-primary active" (click)="onTranslationWayChange('random')">
        <input type="radio" name="translationWay" id="random" autocomplete="off" checked> Random
      </label>
    </div>
    <br />
  </div>
</ng-template>

<ng-template #share let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Share translation
    </h4>
  </div>
  <div class="modal-body">
    <ngb-alert [dismissible]="true" *ngIf="shareStatus == 1" type="danger">
      Something went wrong. Your translation could not be shared. Please try again later.
    </ngb-alert>
    <ngb-alert [dismissible]="true" *ngIf="shareStatus == 2" type="info">
      You've successfully shared your translation with the world.
    </ngb-alert>

    <div *ngIf="loginStatus == 2">
      <button data-toggle="tooltip" data-html="true" data-placement="bottom" placement="bottom"
              ngbTooltip="This will allow all users to see your translation and logged in users to rate it."
              class="btn btn-outline-primary" (click)="shareToDashboard()" *ngIf="!translationToShare.published">
        Share with the public dashboard
      </button>
      <p *ngIf="translationToShare.published">
        You've already shared your translation with the world. Further options to share your work will follow in the
        future
      </p>
      <hr />
    </div>
    <div *ngIf="!translationToShare.id">
      <ngb-alert [dismissible]="true" type="warning">
        This translation has not been uploaded to our server by now. To be able to share it you need to upload it first.
      </ngb-alert>
      <button data-toggle="tooltip" class="btn btn-outline-primary" (click)="uploadTranslation()" >
        Upload this translation
      </button>
    </div>
    <div *ngIf="translationToShare.id">
      <button data-toggle="tooltip" data-html="true" data-placement="bottom" placement="bottom"
              ngbTooltip="This will allow all users to see your translation and logged in users to rate it."
              class="btn btn-outline-primary" (click)="copyToClipboard()" >
        Copy link to clipboard
      </button>
    </div>
  </div>
</ng-template>

<ng-template #impressum let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      Impressum
    </h4>
  </div>
  <div class="modal-body">
    <p>
      <b>Impressum nach §5 Telemediengesetz</b><br />
      Anbieter: Joe Pietler, Liebfrauenstraße 5, 64289 Darmstadt<br /><br />
      Kontakt:<br />
      Telefon: +4917684347299<br />
      Email: enjoping [at] gmail.com<br />
      Website: lächerbar.de
    </p>
  </div>
</ng-template>

<ng-template #howTo let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      How to use the translator
    </h4>
  </div>
  <div class="modal-body">
    <p>
      You are new to the translator and want to know how to use it? That's nice!<br />
      The idea of the translator is to take a simple text and use the Google Translate API to remove every sense from
      it.<br />To do this you can add your text into our "Text" input field. If it is to small for your idea just click
      the little icon next to it and you will get a big textarea.<br />The "Unnecessary steps field is the most
      important one. Here you define through how many translations a text should go before it is finally translated into
      your target language. Every of these unnecessary steps is choosen randomly and so the results can vary every time.
      <br />The last thing is to select your language. For the best result  you should select the language in which your
      source text is written.<br /><br />If you want your result to be in a different language then it was before just
      click on "Extend" and use the two fields "Source Language" and "Destination Language".<br /><br />If you are done
      just click on "Translate" and Google will do the rest.<br />After the translation is finished you will find it
      under "My Translations". If you want to share a translation with your friends, just click on the little share
      icon next to your translation.<br /><br />If you still have questions on how to use the Lächerbar Translator,
      please use the chat on the bottom right corner of this page.<br /><b>Your Lächerbar-Team</b>

    </p>
  </div>
</ng-template>
