doctype html
html
    head
        meta(name='description', content='#{description}')
        meta(http-equiv='refresh', content='0; url=http://translator.xn--lcherbar-0za.de/?translation=#{id}')
        title #{title}
    body
