<div class="container">
  <hr />
  <div class="row">
    <div class="col-12 col-md-4">
      <label>String</label>
      <input type="text" class="form-control" [(ngModel)]="text">
    </div>
    <div class="col-12 col-md-2">
      <label>Ausgangssprache</label>
      <select [(ngModel)]="sourceLanguage" class="form-control">
        <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
      </select>
    </div>
    <div class="col-12 col-md-2">
      <label>Zielsprache</label>
      <select [(ngModel)]="destinationLanguage" class="form-control">
        <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
      </select>
    </div>
    <div class="col-12 col-md-2">
      <label>Zwischensprachen</label>
      <input type="number" class="form-control" [(ngModel)]="languageCount">
    </div>
    <div class="col-12 col-md-2">
      <button type="button" class="btn btn-primary" (click)="translate()">Übersetzen</button>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-12 col-md-4" *ngFor="let translation of history">
      <div class="card">
        <div class="card-header">
          <h4>{{printTranslationChain(translation.chain)}}</h4>
        </div>
        <div class="card-block">
          <p class="card-text">
            <b>Text: </b>{{translation.text}}<br />
            <b>Übersetzung: </b>{{translation.translation}}<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
