<div class="container">
  <hr />
  <div class="row">
    <div class="col-12 col-md-8 col-xl-4">
      <label>Text</label>
      <input type="text" class="form-control" [(ngModel)]="text">
    </div>
    <div class="col-12 col-md-4 col-xl-2">
      <label>Source language</label>
      <select [(ngModel)]="sourceLanguage" class="form-control">
        <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
      </select>
    </div>
    <div class="col-12 col-md-4 col-xl-2">
      <label>Destination language</label>
      <select [(ngModel)]="destinationLanguage" class="form-control">
        <option *ngFor="let language of languages" value="{{language.code}}">{{language.name}}</option>
      </select>
    </div>
    <div class="col-12 col-md-4 col-xl-2">
      <label>Unnecessary steps</label>
      <input type="number" class="form-control" [(ngModel)]="languageCount">
    </div>
    <div class="col-12 col-md-4 col-xl-2">
      <button type="button" class="btn btn-primary send" (click)="translate()" [disabled]="status.loading">
        <i *ngIf="status.loading" class="fa fa-spinner fa-pulse fa-fw" aria-hidden="true"></i>
        Translate
      </button>
    </div>
  </div>
  <hr />
  <div class="row loading">
    <div class="col-12">
      <ngb-progressbar value="{{status.finishedSteps * 100 / status.steps}}" *ngIf="status.loading">
        {{ status.finishedSteps }} step finished
      </ngb-progressbar>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 translation" *ngFor="let translation of history">
      <div class="card">
        <div class="card-header">
          <h4 [innerHTML]="printTranslationSummary(translation.chain)"></h4>
          <button class="btn btn-sm btn-secondary" data-toggle="tooltip" data-html="true" data-placement="bottom"
                  title="{{printTranslationChain(translation.chain)}}" placement="top"
                  ngbTooltip="In a short time you will be able to see the full way of your text.">
            {{translation.chain.length - 1}} steps
          </button>
          <br />
          <ngb-rating (rateChange)="updateRating()" [(rate)]="translation.rating" [starTemplate]="t" max="5"></ngb-rating>
        </div>
        <div class="card-block">
          <p class="card-text">
            <b>Text: </b>{{translation.text}}<br />
            <b>Translation: </b>{{translation.translation}}<br />
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #news let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">
      What's new
      <i class="fa fa-bullhorn" aria-hidden="true"></i>
    </h4>
  </div>
  <div class="modal-body">
    <div *ngFor="let change of changelog">
      <div *ngIf="change.date > lastVisit">
        <small><i>{{change.date | date:'fullDate'}}</i></small>
        <h3>{{change.title}}</h3>
        <p>{{change.description}}</p>
        <hr/>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #t let-fill="fill">
  <span *ngIf="fill === 100"><img src="/assets/banana.svg"></span>
  <span *ngIf="fill === 0"><img src="/assets/banana-o.svg"></span>
</ng-template>
